#About div{
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* margin-top: 30px; */
}
#About p{
  width: 75ch;
}
#About img{
  height: 400px;
  border-radius: 10px;
  /* box-shadow: 0 0px 5px 5px var(--primary-shadow); */
}
#About h1{
  
}

.about-info-section{
  display: flex;
  position: relative;
  margin: 0px;
  flex-direction: column;
  /* justify-content: start; */
  height: 500px;
  width: 600px;
  text-align: start;
  border: 2px solid var(--secondary-color);
  padding: 20px;
  border-radius: 5px;
}
.about-paragraph{
  text-align: start;
  width: 600px;
  font-size: 19px;
}
.about-paragraph>span{
  font-size: 20px;
  font-weight: bold;
}
.about-info-grid{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* flex-wrap: wrap; */
  width: 700px;
  height: 100px;
  /* border: 2px solid var(--Button); */
  border-radius: 3px;
  padding: 20px;
}
.about-info-grid>div{
  /* margin: 0px 10px; */
  text-align: start;
  width: 700px;
}
.about-info-grid>div>p>span{
  font-weight: bold;
  /* margin-right: 20px; */
}
.about-info-grid>div>p>p{
  /* margin-left: 30px; */
  /* font-weight: bold; */
}
.download-cv-btn{
  background-color: var(--Button);
  color: var(--Button-text);
  padding: 14px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1.4px;
  border: none;
  cursor: pointer;
}
.AS-email-n-links{
  position: absolute;
  right: 20px;
  bottom: 20px;
}
