@keyframes slideInLeft {
  from {
      transform: translateX(-300px);
    }
  
  to {
    transform: translateX(0);
  }
  
}
@keyframes slideInRight {
  from {
      transform: translateX(300px);
    }
  
  to {
    transform: translateX(0); 
  }
  
}

@keyframes animate {
  0%{
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50%{
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100%{
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

@keyframes Projects-animation-left {
  from {
    opacity: 0;
    transform: translateX(-300px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes Projects-animation-right {
  from {
    opacity: 0;
    transform: translateX(300px);
  }

  to {
    opacity: 1;
    transform: translateX(0); 
  }
}

@keyframes Section-animation {
  /* from {opacity: 0;}

  to {opacity: 1;} */
}

.section-animation{
  animation: Section-animation 2s ease-in-out forwards;
}


.animate-left-project{
  animation: Projects-animation-left 1s ease-in-out 1;
  transition: Projects-animation-left 1s ease-in-out;
}

.animate-right-project{
  animation: Projects-animation-right 1s ease-in-out 1;
  transition: Projects-animation-right 1s ease-in-out;
}
