#Contact-Me form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  margin: 20px;
  margin-left: 150px;
  height: 400px;
  width: fit-content;

  /* background-color: var(--color-); */
  padding: 10px;
  border-radius: 20px;
}

/* #Contact-Me form *{
  font-size: 20px;

  margin: 10px;
  height: 30px;
  width: 500px;
} */


.input-styling{ /* FORM PAGE (CONTACT ME) __ INPUT UTILITY CLASS */
  padding: 10px;
  font-size: 20px;

  margin: 10px;
  height: 30px;
  width: 500px;

  background-color: var(--form-input-bg);
  border: none;
  border-radius: 10px;
}

#Contact-Me form textarea{
  margin: 10px;
  height: 400px;
}
#Contact-Me form h2{
  font-size: 30px;
  /* color: var(--primary-color); */
}

.submit-btn{
  width: 100px;
  height: 50px;
  padding: 10px;
  border-radius: 20px;
  font-size: 16px;
  border: none !important;
  background-color: var(--Button);
  color: var(--Button-text);

  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.contacts-info-container{
  display: flex;
  width: 100%;
  margin-top: 20px;
  margin-left: 10px;
}

.contacts-info-container p{
  width: 500px;
  margin: 20px;
  font-size: 20px;
}
