.project-specific-container{
  height: fit-content;
}
#Projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#Projects h1{
  font-size: 40px;
  margin-bottom: 30px;
}
.projects-containers{
  height: fit-content;
  margin-bottom: 70px;
  /* width: fit-content; */
  display: flex;
  justify-content: center;
  /* background-color: red; */
  /* overflow: scroll; */
  
}

.black-center-line{
  /* background-color: var(--secondary-color); */
  background-color: #6E57E0;
  width: 2px;
  height: 800px;
  border-radius: 20px;
  margin-bottom: 150px;
  /* display: flex; */
  /* align-items: center; */
}
.Center-Line-Ball{
  /* position: fixed; */
  margin-left: -8px;
  color: #6E57E0;
  font-size: 50px;
}

.each-project{
  height: 260px;
  width: 400px;
  /* background-color: rgba(255, 255, 0, 0.505); */
  border-radius: 10px;
  padding-top: 10px;
  border: 1px solid var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: start; 
  
}
.btn-container{
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: start;
}
/* .each-project *{
  margin-left: 20px;
  margin-right: 20px;
} */
.each-project h2{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: var(--Heading-color);
}
.each-project h4{
  margin-left: 20px;
  margin-right: 20px;
  color: var(--Text-color);
  font-weight: normal;
}
.btn{
  margin: 0;
  width: 110px;
  padding: 10px;
  border-radius: 3px;
  border: none !important;
  background-color: var(--Button);
  /* border: 2px solid var(--secondary-color); */
  color: var(--Button-text);
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 20px;

  transition: background-color .2s ease-in, color .2s ease-in;
}
/* .each-project button:hover{
  background-color: rgb(75, 73, 73);
  color: blueviolet;
} */

/* Utility Class */
.left-project{
  margin-left: -420px;
}
.right-project{
  margin-left: 20px;
}


/* Project Buttons */
.project-button-container{
  display: flex;
  width: 450px;
  align-items: center;
  justify-content: space-between;
}
.project-btn{
  width: 150px;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  background-color: transparent;
  /* background-color: var(--Button); */
  /* border: 2px solid var(--Button); */
  border: none;
  color: var(--secondary-color);
  cursor: pointer;
}
/* .project-btn:hover{
  box-shadow: 0px 0px 10px var(--primary-shadow);
}
.project-btn:active{
  box-shadow: 0px 0px 20px var(--primary-shadow-active);
} */
.Load-More-Projects-btn{
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  background-color: var(--Button);
  color: var(--Button-text);
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
}
