*{
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  /* cursor:url(/ASSETS/cursor.png),auto; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
  height:90vh;
}
:root{
  /* --primary-color: #fff;
  --secondary-color: rgb(25,22,39);
  --primary-shadow: rgba(0, 0, 0, 0.2); */
    
  --primary-color: rgb(25,22,39);
  --secondary-color: #FFFFFF;
  --primary-shadow: rgba(255, 255, 255, 0.2);
  --primary-shadow-active: rgba(255, 255, 255, 0.749);

  --Button: #6E57E0;
  --Button-text: #ffffff;

  --Heading-color: #ffffff;
  --Text-color: #BCBAC4;
  
  --scroll: rgb(255, 255, 255);

  --footer-color: rgb(16, 14, 27);
  --footer-link-color: #6E57E0;

  --color-1: #8100C2;
  --color-2: #660099;
  --color-3: #9900E6;
  --color-4: #FFFFFF;
  --color-5: #300047;

  --form-input-bg: rgba(255, 255, 255, 0.742);
  
}
.dark-theme{
  --primary-color: #fff;
  /* --primary-color: #5183a5; */
  --secondary-color: rgb(25,22,39);
  --primary-shadow: rgba(0, 0, 0, 0.2);
  --primary-shadow-active: rgba(0, 0, 0, 0.749);

  /* --Button: #300047; */
  --Button: #6E57E0;
  --Button-text: #ffffff;

  --scroll: rgb(0, 0, 0);

  --footer-color: #6E57E0;
  --footer-link-color: rgb(16, 14, 27);

  --Heading-color: #000000;
  --Text-color: #6D6A7C;

  --form-input-bg: rgba(0, 0, 0, 0.742);
/*   
  --primary-color: rgb(25,22,39);
  --secondary-color: #FFFFFF;
  --primary-shadow: rgba(255, 255, 255, 0.2); */
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  /* cursor:url('/ASSETS/cursor.png'),auto; */
}
svg{
  fill: currentColor;
  transition: fill .2s ease-in-out;
  cursor: pointer;
}
svg:hover{
  fill: var(--Button);
}
