/* Utility classes */

hr{
  border: 0;
  background-color: var(--secondary-color);
  height: 1.2px;
  width: 80vw;
  margin: 0 auto;
}

.height-auto-and-centered{
  height: auto;
  width: 80vw;
  margin: auto;
}


/* ANIMATION UTILITIES */

.ANIMATION--FAST--SLIDETOLEFT{
  animation: slideInLeft .5 ease-in 0 1 forwards none repeat;
}


/* Common classes are here */
.section-content-container{
  height: 100vh;
  width: 80vw;
  margin: auto !important;
  /* margin-top: 50px; */
  /* background-color: var(--secondary-color); */
  background-color: var(--primary-color);
}
.section-content-container h1{
  font-size: 30px;
  margin-top: 50px;
}
